/*
  Medium.com-style fancy underlines.

  Inspired by:
  [1] https://medium.com/designing-medium/7c03a9274f9
  [2] https://github.com/Team-Sass/toolkit#underline
  [3] http://codepen.io/ghepting/pen/tLnHK/
*/

@mixin underline($background: #fff, $color: #ccc, $distance: 2, $width: 1, $clear-descenders: true) {
  display: inline;
  text-decoration: none;
  background-repeat: repeat-x;

  @include background-image(
    linear-gradient(rgba($background, 0) 50%, $color 50%)
  );

  background-size: rem-calc(2) rem-calc($width);
  background-position: 0 (1rem + rem-calc($distance));
  padding-bottom: rem-calc($width) + rem-calc($distance);

  @if $clear-descenders {
    @include text-shadow(
      rem-calc(-1) rem-calc(-1) 0 $background,
      rem-calc(1) rem-calc(-1) 0 $background,
      rem-calc(-1) rem-calc(1) 0 $background,
      rem-calc(1) rem-calc(1) 0 $background
    );
  }
}
